version: '3'

services:
  django:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app/backend/
      - /app/backend/uploads
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
#    depends_on:
#      - kafka

  angular:
    build: ./frontend
    volumes:
      - ./frontend:/app/frontend
      - /app/node_modules

#  kafka:
#    image: wurstmeister/kafka
#    ports:
#      - "9092:9092"
#    environment:
#      KAFKA_ADVERTISED_HOST_NAME: kafka
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#    depends_on:
#      - zookeeper
#
#  zookeeper:
#    image: wurstmeister/zookeeper
#    ports:
#      - "2181:2181"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx-analyze.conf:/etc/nginx/nginx.conf
    ports:
      - "8484:80"
    depends_on:
      - django
      - angular

